*{
    box-sizing: border-box;
}
.text1 h1{
    text-align: center;
}
.fig img{
    width: 200px;
    height: 180px;
}
.fig h3{
    font-size: 20px;
}
.fig{
    border: 1px solid red;
    height: 380px;
}
.head img{
    width: 100%;
    height: 100vh;
}
.fig1{
    border:2px solid rgb(236, 15, 15);
    box-shadow: 0 3px 10px rgba(232, 10, 10, 0.146);
    height: 500px;
}
.fig1 img{
   width: 200px; 
   height: 200px;
}
.fig1 h3{
    font-size: 20px;
}